* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Adamina", serif;
}

.home,
.userpage,
.login,
.userpage,
.signup {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/* login page styles */

.signinform {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 30px;
}

.loginimg,
.signupimg {
  width:400px;
  height:300px;
}

.login,.signup {
  display: flex;
  flex-direction: column;
}

.signup {
  margin-top:100px;
  margin-bottom: 100px;
  font-size: 30px;
}

.signupimg {
  margin-top: 30px;
}

/* User Page Styles */

.userpage {
  max-width: 100%;
  height: auto;
}

.userbtns > h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 80px;
}

.userbtns > p {
  font-size: 15px;
  margin-left: 80px;
}

.symptomForm {
  margin-top: 20px;
  margin-left: 90px;
  display: flex;
  height: 90vh;
  align-items: left;
  justify-content: center;
  font-size: 20px;
}

.userbtn1,
.userbtn2 {
  margin: 3px;
  margin-left: 80px;
}

.form-check {
  margin-right: 4px;
}

.form-label {
  margin-right: 2px;
}

.severity {
  display: flex;
  flex-direction: row;
}

/* Resources Page Styles */

.resHomebtn {
  margin-top: 10px;
}

.resources {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.res-header {
  justify-content: center;
  font-size: 2rem;
  text-align: center;
}

.res-header > p {
  font-size: 20px;
}

.list-group {
  margin-top: 20px;
  font-size: 25px;
}

/* Charts Page Styles */

.chartcontainer {
  margin-bottom: 100px;
  margin-top: 100px;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chartbtnH,
.chartbtnS {
  display: flex;
  justify-content: center;
  width: 20%;
  margin-top: 8px;
}


.clinics {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin-top: -250px;
}


.barDiv, .lineDiv {
  margin-top: 50px;
  width: 100%;
  
}

/* Find a clinic page styles */

.map-container {
  display: flex;
  position: relative;
  width: 65vw;
  height: 65vh;
  justify-content: center;
  margin-top: -250px;
}
/* Sidebar Styles */

.useritems {
  /* display: flex; */
  max-width: 100%;
  height: auto;
  /* margin-left: 20px; */
  margin-right: 25px;
}
