* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Adamina", serif;
}

.home,
.userpage,
.clinics,
.login,
.userpage {
  /* background-color: lightcyan; */
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.symptomForm {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  height: 90vh;
  align-items: left;
  justify-content: center;
  font-size: 20px;
}

.userbtn1,
.userbtn2 {
  margin: 3px;
}

.resHomebtn {
  margin-top: 10px;
}

.severity {
  display: flex;
  flex-direction: row;
}

.resources {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.res-header {
  justify-content: center;
  font-size: 2rem;
  text-align: center;
}

.res-header > p {
  font-size: 20px;
}

.list-group {
  margin-top: 20px;
  font-size: 25px;
}

.form-check {
  margin-right: 4px;
}

.form-label {
  margin-right: 2px;
}

.chartcontainer {
  margin-bottom: 100px;
  margin-top: 100px;
  max-width: 70%;
}
