.about-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background-color: #13455eb4;
  align-items: center;
  font-size: 2rem;
}

.about-container > p {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 50%;
  font-size: 20px;
}

.about-image {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
}
